
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .dashboard .title{
        font-size:36px;
        padding:150px;
    }
</style>
<div class="dashboard jumbotron">
    <h1 class="text-center text-primary title">Welcome to Dashboard Admin!</h1>
</div>

